/*

Table of contents
  1. sass definitions
  2. helper classes
  3. baseline styles
  4. layout
  5. custom styles

*/

@import "fonts";

/* 1. sass definitions
-----------------------------------*/

/* default variables overrides */
$text-color: #777;
$headings-color: #777;
$link-color: #555;
$link-hover-color: #b72e33;
$body-bg: #f0f0f0;
$input-border-focus: #b72e33;
$font-size-base: 20px;
$font-family-base: proxima_novalight, arial, tahoma, sans-serif;
$line-height-base: 1.5;

/* import bootstrap main stylesheet */
@import "bootstrap-sass/lib/bootstrap";

/* custom variables */
$darkGray: #444;
$borderColor: #ccc;
$softlayerRed: #b72e33;
$layoutSideWidthPerc: 100% / $grid-columns;
$headerBorderWidth: 7px;
$footerHeight: 60px;
$playButtonWidth: 170px;

/* mixins & functions */
@mixin gsCalc($property, $args) {
  #{$property}: -webkit-calc(#{$args});
  #{$property}: -moz-calc(#{$args});
  #{$property}: calc(#{$args});
}

@mixin gsNativeHidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin gsGrayscale() {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

@mixin gsGrayscaleDisable() {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

@mixin gsCircle($diameter) {
  width: $diameter;
  height: $diameter;
  @include border-bottom-radius($diameter / 2);
  @include border-top-radius($diameter / 2);
}

/* default rules overrides */

input {
  &[type="checkbox"] {
    margin-top: 9px;
  }
}

label {
  font-weight: normal;
}

/* 2. helper classes
-----------------------------------*/

/* centering-in-the-unknown hack by chris coyier */
.centered-box {
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  .centered {
    display: inline-block;
    vertical-align: middle;
    //width: 300px;
  }
}


/* 3. baseline styles
-----------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: .7em 0;
  text-align: center;
  font-weight: normal;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 130%;
}

[disabled="disabled"] {
  @include opacity(.5);
}


/* 4. layout
-----------------------------------*/

/* holy grail layout */

html, body, .full-height {
  overflow: hidden;
  height: 100%;
}

#header {
  height: 130px;
}

#content {
  padding: 0 $layoutSideWidthPerc;
}

#fix {
  height: $footerHeight;
  clear: both;
}

#layout {
  margin: 0 auto;
  min-width: 600px;
  min-height: 100%;
  height: 100%;
  &[id] {
    /* invisible to IE6 */
    height: auto;
    overflow: hidden;
  }
  .side {
    width: $layoutSideWidthPerc;
    float: left;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
  }
  .other {
    float: right;
  }
}

#footer {
  height: $footerHeight;
  margin-top: $footerHeight * -1;
  &[id] {
    /* layer order, invisible to IE6 */
    z-index: 100;
    position: relative;
  }
}

/* custom layout adaptations */

#content {
  .main {
    position: absolute;
    top: 180px + $headerBorderWidth;
    bottom: $footerHeight + 30px;
    left: $layoutSideWidthPerc;
    right: $layoutSideWidthPerc;
  }
}


/* 5. custom styles
-----------------------------------*/

#header {
  border-top: $headerBorderWidth solid $softlayerRed;
  background-color: $darkGray;
  .logo-box {
    width: 560px;
    margin: 0 auto;

    .logo {
      position: relative;
      z-index: 1;
      float: left;
      height: 130px;
      margin-left: 60px;
      &:not(:first-child):before {
        content: '\2022';
        position: absolute;
        top: 65px + $headerBorderWidth;
        left: -38px;
        line-height: 0;
        font-size: 30px;
        color: $softlayerRed;
      }
      &.cloudify {
        width: 177px;
        background: url('../images/cloudify-logo.svg') 0 12px no-repeat;
      }
      &.softlayer {
        width: 256px;
        background: url('../images/softlayer-logo.png') 0 60px no-repeat;
      }
    }
  }
}

#footer {
  padding: 1em;
  font-size: 12px;
  background-color: $text-color;
  * {
    color: $borderColor;
  }
}

.side {
  cursor: pointer;
  @include opacity(.6);
  @include transition(0.05s all 0 linear);
  &:hover {
    @include opacity(1);
  }
  &:after {
    position: absolute;
    z-index: 100;
    @include gsCalc("top", "50% + 22px");
    width: $layoutSideWidthPerc;
    height: 0;
    line-height: 0;
    text-align: center;
    font-size: 120px;
    font-family: arial;
    color: $text-color;
  }
  &.left:after {
    left: 0;
    content: '\2039';
  }
  &.right:after {
    right: 0;
    content: '\203a';
  }
  &.disabled {
    cursor: default;
    @include opacity(0);
  }
}

#content {

  // TODO use customized bootstrap breadcrumb ?
  .trail {
    ul {
      width: 100%;
      li {
        display: inline;
        padding: 0;
        list-style-type: none;
        line-height: 2.4;
        font-style: italic;
        color: #777;
        &:not(:last-child):after {
          content: ' / ';
        }
      }
    }
  }
  .main {
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #fff;

    /* view slide animation */
    &.ng-enter, &.ng-leave {
      @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s);
    }
    &.ng-enter {
      @include opacity(0);
    }
    &.ng-enter.ng-enter-active {
      @include opacity(1);
    }
    &.ng-leave {
      @include opacity(1);
    }
    &.ng-leave.ng-leave-active {
      @include opacity(0);
    }
  }
  &.next {
    .main {
      &.ng-enter {
        left: 100% - $layoutSideWidthPerc;
        right: -100% + $layoutSideWidthPerc;
      }
      &.ng-enter.ng-enter-active {
        left: $layoutSideWidthPerc;
        right: $layoutSideWidthPerc;
      }
    }
  }
  &.prev {
    .main {
      &.ng-enter {
        left: -100% + $layoutSideWidthPerc;
        right: 100% - $layoutSideWidthPerc;
      }
      &.ng-enter.ng-enter-active {
        left: $layoutSideWidthPerc;
        right: $layoutSideWidthPerc;
      }
    }
  }
}

section {

  &.welcome {
    width: 80%;
    margin: 0 auto;
  }

  &.recipes {

    .recipe-list {
      margin: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 30px;
        padding: 0;
        list-style-type: none;
        border: 1px solid $borderColor;
        background-color: #fafafa;

        label, input {
          cursor: pointer;
        }
        label {
          margin: 0;
          padding: 15px 0 5px;
          img {
            display: block;
            width: 60px;
            height: 60px;
            margin: 20px 60px;
            @include gsGrayscale();
            @include opacity(.7);
          }
          input[type="radio"] {
            position: absolute;
            visibility: hidden;
            @include gsNativeHidden();
            outline: 0 none;

            &:checked ~ img {
              @include gsGrayscaleDisable();
            }
            &:hover ~ img,
            &:checked ~ img {
              @include opacity(1);
            }
          }
          .video-link {
            padding: 0 15px;
            height: 30px;
            a {
              float: right;
              line-height: 30px;
              font-size: .8em;
              &:after {
                content: ' \2197';
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }

  &.credentials {
    form {
      min-width: 300px;
      max-width: 600px;
      width: 50%;
      margin: 30px auto;

      input.ng-dirty.ng-invalid {
        background-color: #ff3a3c;
        @include opacity(.3);
      }
    }
  }

  &.summary {

    .widget {
      position: relative;
      height: 300px;
      margin: 40px 0;

      [class*="row"],
      [class*="col-"] {
        height: 100%;
      }

      .play-box {
        position: absolute;
        @include gsCalc('top', '50% - ' + $playButtonWidth / 2);
        @include gsCalc('left', '50% - ' + $playButtonWidth / 2);
        z-index: 9999;

        @include transition(.1s opacity linear);

        @include opacity(.2);

        label.play-button {
          position: relative;

          input[type="checkbox"] {
            position: absolute;
            visibility: hidden;
            @include gsNativeHidden();
            outline: 0 none;

            ~ div {
              border: $headerBorderWidth solid $text-color;
              background-color: $body-bg;
              cursor: pointer;
              display: block;
              overflow: hidden;
              @include gsCircle($playButtonWidth);

              &:after {
                content: '';
                position: absolute;
                left: $playButtonWidth * .40;
                top: $playButtonWidth * .18;
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: $playButtonWidth * .330 $playButtonWidth * .350;
                border-color: transparent transparent transparent $text-color;
              }
            }
            &:active ~ div:hover,
            &:checked ~ div:hover,
            &:checked ~ div {
              border-color: $softlayerRed;
            }
            &:active ~ div:hover:after,
            &:checked ~ div:hover:after,
            &:checked ~ div:after {
              border-left-color: $softlayerRed;
            }
            ~ div:hover {
              border-color: $darkGray;
            }
            ~ div:hover:after {
              border-left-color: $darkGray;
            }
            &:active ~ div {
              margin-top: $playButtonWidth * .015;
              margin-left: $playButtonWidth * .015;
              @include gsCircle($playButtonWidth * .970);
            }
            &:active ~ div:hover:after {
              left: $playButtonWidth * .400 * 1.015;
              top: $playButtonWidth * .180 * 1.110;
              border-width: $playButtonWidth * .330 * .942 $playButtonWidth * .350 * .942;
            }
          }
        }
      }
      .console {
        height: 100%;
        margin: 0 auto;
        border: $headerBorderWidth solid $text-color;
        background-color: $body-bg;

        &:hover .play-box {
          @include opacity(1);
        }
      }
    }
  }
}

