/*

Table of contents
  1. sass definitions
  2. helper classes
  3. baseline styles
  4. layout
  5. custom styles

*/

@import "fonts";

/* 1. sass definitions
-----------------------------------*/

/* default variables overrides */
$text-color: #777;
$headings-color: #777;
$link-color: #555;
$link-hover-color: #b72e33;
$body-bg: #f0f0f0;
$font-size-base: 20px;
$font-family-base: proxima_novalight, arial, tahoma, sans-serif;
$line-height-base: 1.5;

/* import bootstrap main stylesheet */
@import "bootstrap-sass/lib/bootstrap";

/* custom variables */
$darkGray: #444;
$borderColor: #ccc;
$softlayerRed: #b72e33;
$layoutSideWidthPerc: 100% / $grid-columns;
$headerBorderHeight: 7px;

/* mixins & functions */
@mixin gs-calc($property, $args) {
  #{$property}: -webkit-calc(#{$args});
  #{$property}: -moz-calc(#{$args});
  #{$property}: calc(#{$args});
}

@mixin native-hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin grayscale($percentage) {
  -webkit-filter: grayscale($percentage);
  filter: grayscale($percentage);
}

/* default rules overrides */

input {
  &[type="text"],
  &[type="password"] {
    min-height: 50px;
    height: 50px;
    margin: 10px 0 20px;
    padding: 0 .7em;
    &:focus {
      border-color: rgba(183, 46, 51, .8);
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(183, 46, 51, .6));
    }
  }
  &[type="checkbox"] {
    margin-top: 9px;
  }
}

legend {
  line-height: 30px;
  font-size: 1.2em;
  color: $text-color;
}

fieldset {
  border-top: 1px solid $borderColor;
  margin-top: 1em;
  padding-top: 1em;
}

label {
  font-weight: normal;
}


/* 2. helper classes
-----------------------------------*/



/* 3. baseline styles
-----------------------------------*/

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 160%;
}

[disabled="disabled"] {
  @include opacity(.5);
}

/* 4. layout */

* {
  padding: 0;
  margin: 0;
}

html, body, .full-height {
  overflow: hidden;
  height: 100%;
}

#header {
  height: 130px;
}

#content {
  padding: 0 $layoutSideWidthPerc;
}

#fix {
  height: 60px;
  clear: both;
}

#layout {
  margin: 0 auto;
  min-width: 600px;
  min-height: 100%;
  height: 100%;
  &[id] {
    /* invisible to IE6 */
    height: auto;
    overflow: hidden;
  }
  .side {
    width: $layoutSideWidthPerc;
    float: left;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
  }
  .other {
    float: right;
  }
}

#footer {
  height: 60px;
  margin-top: -60px;
  &[id] {
    /* layer order, invisible to IE6 */
    z-index: 100;
    position: relative;
  }
}

/* 5. custom styles
-----------------------------------*/

#header {
  border-top: $headerBorderHeight solid $softlayerRed;
  background-color: $darkGray;
  .logo-box {
    width: 560px;
    margin: 0 auto;

    .logo {
      position: relative;
      z-index: 1;
      float: left;
      height: 130px;
      margin-left: 60px;
      &:not(:first-child):before {
        content: '\2022';
        position: absolute;
        top: 65px + $headerBorderHeight;
        left: -38px;
        line-height: 0;
        font-size: 30px;
        color: $softlayerRed;
      }
      &.cloudify {
        width: 177px;
        background: url('../images/cloudify-logo.svg') 0 12px no-repeat;
      }
      &.softlayer {
        width: 256px;
        background: url('../images/softlayer-logo.png') 0 60px no-repeat;
      }
    }
  }
}

#footer {
  background-color: $text-color;
}

.side {
  cursor: pointer;
  @include opacity(.6);
  @include transition(all linear 0.1s);
  &:hover {
    @include opacity(1);
  }
  &:after {
    position: absolute;
    z-index: 100;
    @include gs-calc("top", "50% + 22px");
    width: $layoutSideWidthPerc;
    height: 0;
    line-height: 0;
    text-align: center;
    font-size: 120px;
    font-family: arial;
    color: #777;
  }
  &.left:after {
    left: 0;
    content: '\2039';
  }
  &.right:after {
    right: 0;
    content: '\203a';
  }
  &.disabled {
    cursor: default;
    @include opacity(0);
  }
}

#content {

  // TODO use customized bootstrap breadcrumb ?
  .trail {
    ul {
      width: 100%;
      li {
        display: inline;
        padding: 0;
        list-style-type: none;
        line-height: 2.4;
        font-style: italic;
        color: #777;
        &:not(:last-child):after {
          content: ' / ';
        }
      }
    }
  }
  .main {
    position: absolute;
    top: 180px + $headerBorderHeight;
    bottom: 90px;
    left: $layoutSideWidthPerc;
    right: $layoutSideWidthPerc;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #fff;

    /* view slide animation */
    &.ng-enter, &.ng-leave {
      @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s);
    }
    &.ng-enter {
      @include opacity(0);
    }
    &.ng-enter.ng-enter-active {
      @include opacity(1);
    }
    &.ng-leave {
      @include opacity(1);
    }
    &.ng-leave.ng-leave-active {
      @include opacity(0);
    }
  }
  &.next {
    .main {
      &.ng-enter {
        left: 100% - $layoutSideWidthPerc;
        right: -100% + $layoutSideWidthPerc;
      }
      &.ng-enter.ng-enter-active {
        left: $layoutSideWidthPerc;
        right: $layoutSideWidthPerc;
      }
    }
  }
  &.prev {
    .main {
      &.ng-enter {
        left: -100% + $layoutSideWidthPerc;
        right: 100% - $layoutSideWidthPerc;
      }
      &.ng-enter.ng-enter-active {
        left: $layoutSideWidthPerc;
        right: $layoutSideWidthPerc;
      }
    }
  }
}

section {

  &.welcome {
    width: 80%;
    margin: 0 auto;
  }

  &.recipes {

    .recipe-list {
      margin: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 30px;
        padding: 0;
        list-style-type: none;
        border: 1px solid $borderColor;
        background-color: #fafafa;

        label {
          margin: 0;
          padding: 15px 0 0;
        }
        // TODO adapt for gecko! the :checked content image toggle only works for webkit!
        input[type="radio"] {
          content: '';
          display: block;
          width: 60px;
          height: 60px;
          margin: 20px 60px;
          outline: none;
          @include native-hidden();
          @include opacity(.7);

          &:not(:checked) {
            @include grayscale(100%);
          }
          &:checked {
          }
          &:hover, &:checked {
            @include opacity(1);
          }

          /* product images */
          &.cassandra {
            content: url('../images/cassandra.jpg');
          }
          &.couchbase {
            content: url('../images/couchbase.png');
          }
          &.drupal {
            content: url('../images/drupal.jpg');
          }
          &.elastic-search {
            content: url('../images/elastic-search.jpg');
          }
          &.jboss {
            content: url('../images/jboss.png');
          }
          &.memcached {
            content: url('../images/memcached.png');
          }
          &.mongodb {
            content: url('../images/mongodb.png');
          }
          &.mysql {
            content: url('../images/mysql.png');
          }
          &.petclinic {
            content: url('../images/petclinic.png');
          }
          &.play {
            content: url('../images/play.png');
          }
          &.vertx {
            content: url('../images/vertx.jpg');
          }
        }
        .video-link {
          padding: 5px 15px;
          height: 25px;
          a {
            float: right;
            line-height: 25px;
            font-size: .8em;
            &:after {
              content: ' \2197';
              line-height: 25px;
            }
          }
        }
      }
    }
  }

  &.details {
    form {
      min-width: 300px;
      max-width: 600px;
      width: 50%;
      margin: 0 auto;
    }
  }
}

