
/*

Table of contents
1. sass definitions
2. layout
3. custom styles

*/

/* 1. sass definitions */

/* default overrides */
$textColor: #444;
$bodyBackground: #f0f0f0;

/* import main stylesheet */
@import "bootstrap-sass/lib/bootstrap";

/* custom variables */
$darkGray: #444;
$borderColor: #ccc;
$softlayerRed: #b72e33;
$layoutSideWidthPerc: $fluidGridColumnWidth + $fluidGridGutterWidth;

/* mixins & functions */
@mixin gs-calc($property, $args) {
  #{$property}: -webkit-calc(#{$args});
  #{$property}: -moz-calc(#{$args});
  #{$property}: calc(#{$args});
}


/* 2. layout */

* {
  padding: 0;
  margin: 0;
}

html, body, .full-height {
  overflow: hidden;
  height: 100%;
}

#header {
  height: 130px;
}
#content {
  padding: 0 $layoutSideWidthPerc;
}
#fix {
  height: 60px;
  clear: both;
}

#layout {
  margin: 0 auto;
  min-width: 600px;
  min-height: 100%;
  height: 100%;
  &[id] { /* invisible to IE6 */
    height: auto;
    overflow: hidden;
  }
  .side {
    width: $layoutSideWidthPerc;
    float: left;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
    //z-index: 9999;
  }
  .other {
    float: right;
  }
}

#footer {
  height: 60px;
  margin-top: -60px;
  &[id] { /* layer order, invisible to IE6 */
    z-index: 100;
    position: relative;
  }
}


/* 3. custom styles */

#header {
  border-bottom: 3px solid $softlayerRed;
  background-color: $darkGray;
  .logo {
    position: relative;
    z-index: 1;
    float: left;
    height: 130px;
    &:not(:first-child) {
      margin-left: 60px;
      position: relative;
    }
    &.cloudify {
      width: 177px;
      background: url('../images/logo-cloudify.png') 0 20px no-repeat;
    }
    &.softlayer {
      width: 256px;
      background: url('../images/logo-softlayer.png') 0 60px no-repeat;
    }
  }
}

#footer {
  background-color: $darkGray;
}

.side {
  cursor: pointer;
  @include opacity(60);
  @include transition(all linear 0.1s);
  &:hover {
    @include opacity(100);
  }
  &:after {
    position: absolute;
    z-index: 100;
    @include gs-calc("top", "50% + 22px");
    width: $layoutSideWidthPerc;
    text-align: center;
    font-size: 120px;
    color: #777;
  }
  &.left:after {
    left: 0;
    content: '\2039';
  }
  &.right:after {
    right: 0;
    content: '\203a';
  }
  &.disabled {
    cursor: default;
    @include opacity(0);
  }
}

#content {
  .main {
    position: absolute;
    top: 153px;
    bottom: 80px;
    left: $layoutSideWidthPerc;
    right: $layoutSideWidthPerc;
    border: 1px solid #ccc;
    background-color: #fff;

    /* view slide animation */
    &.ng-enter, &.ng-leave {
      @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s);
    }
    &.ng-enter {
      @include opacity(0);
    }
    &.ng-enter.ng-enter-active {
      @include opacity(100);
    }
    &.ng-leave {
      @include opacity(100);
    }
    &.ng-leave.ng-leave-active {
      @include opacity(0);
    }
  }
  &.next {
    .main {
      &.ng-enter {
        left: 100% - $layoutSideWidthPerc;
        right: -100% + $layoutSideWidthPerc;
      }
      &.ng-enter.ng-enter-active {
        left: $layoutSideWidthPerc;
        right: $layoutSideWidthPerc;
      }
    }
  }
  &.prev {
    .main {
      &.ng-enter {
        left: -100% + $layoutSideWidthPerc;
        right: 100% - $layoutSideWidthPerc;
      }
      &.ng-enter.ng-enter-active {
        left: $layoutSideWidthPerc;
        right: $layoutSideWidthPerc;
      }
    }
  }
}


/*

nav {
  border: 1px solid $borderColor;
  button {
    position: relative;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: #555;
    background: none;
    border: 1px solid transparent;
    outline: none;
    &:not(:first-child) {
      border-top-color: $borderColor;
    }
    &:hover, &:focus {
      color: $softlayerRed;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        @include gs-calc("left", "100% + 2px");
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent $softlayerRed;
        border-width: 30px $gridGutterWidth;
      }
    }
  }
}
*/
