
/*

Table of contents
1. sass definitions
2. layout
3. custom styles

*/

/* 1. sass definitions */

/* default overrides */
$textColor: #444;
$bodyBackground: #f2f2f2;

/* import main stylesheet */
@import "bootstrap-sass/lib/bootstrap";

/* custom variables */
$darkGray: #444;
$borderColor: #ccc;
$softlayerRed: #b72e33;
$layoutSideWidth: $fluidGridColumnWidth + $fluidGridGutterWidth;

/* mixins & functions */
@mixin gs-calc($property, $args) {
  #{$property}: -webkit-calc(#{$args});
  #{$property}: -moz-calc(#{$args});
  #{$property}: calc(#{$args});
}


/* 2. layout */

* {
  padding: 0;
  margin: 0;
}

html, body, .full-height {
  height: 100%;
}

#layout {
  margin: 0 auto;
  min-width: 600px;
  min-height: 100%;
  height: 100%;
  &[id] { /* invisible to IE6 */
    height: auto;
    overflow: hidden;
  }
  #header {
    height: 130px;
  }
  #content {
    padding: 0 $layoutSideWidth;
  }
  #fix {
    height: 60px;
    clear: both;
  }
  .side {
    width: $layoutSideWidth;
    float: left;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
  }
  .other {
    float: right;
  }
}

#footer {
  height: 60px;
  margin-top: -60px;
  &[id] { /* layer order, invisible to IE6 */
    z-index: 100;
    position: relative;
  }
}


/* 3. custom styles */

#header {
  border-bottom: 3px solid $softlayerRed;
  background-color: $darkGray;
  .logo {
    position: relative;
    z-index: 1;
    float: left;
    height: 130px;
    &:not(:first-child) {
      margin-left: 60px;
      position: relative;
    }
    &.cloudify {
      width: 177px;
      background: url('../images/logo-cloudify.png') 0 20px no-repeat;
    }
    &.softlayer {
      width: 256px;
      background: url('../images/logo-softlayer-transparent.png') 0 56px no-repeat;
    }
  }
}

#footer {
  background-color: $darkGray;
}

.side {
  @include opacity(60);
  &:hover {
    @include opacity(100);
  }
  &:after {
    position: absolute;
    @include gs-calc("top", "50% + 22px");
    width: $layoutSideWidth;
    text-align: center;
    font-size: 120px;
    color: #777;
  }
  &.left:after {
    left: 0;
    content: '\2039';
  }
  &.right:after {
    right: 0;
    content: '\203a';
  }
}


/*

nav {
  border: 1px solid $borderColor;
  button {
    position: relative;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: #555;
    background: none;
    border: 1px solid transparent;
    outline: none;
    &:not(:first-child) {
      border-top-color: $borderColor;
    }
    &:hover, &:focus {
      color: $softlayerRed;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        @include gs-calc("left", "100% + 2px");
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent $softlayerRed;
        border-width: 30px $gridGutterWidth;
      }
    }
  }
}
*/


/*
dl dt, dl dd {
  display: inline;
  float: left;
}

dl dt {
  clear: left;
}
*/
