<section ng-controller="CredentialsPhaseCtrl" class="credentials">

    <h1>Enter your details</h1>

    <form novalidate name="form" validation-focus>
        <div class="form-group">
            <label>Username:</label>
            <input ng-model="model.username" required
                   type="text" class="form-control input-lg" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input ng-model="model.password" required
                   type="password" class="form-control input-lg" />
        </div>
    </form>

</section>
