<!--
<nav>
    <button type="button" ng-repeat="widget in data.widgetsList.data">{{ widget.productName }}</button>
</nav>
-->

<!--
<div id="wrap">
    <header class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div ng-include="'views/header.html'" class="row-fluid"></div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row-fluid">
            <div ng-include="'views/side.html'" class="span1 side left"></div>
            <div ng-include="'views/center.html'" class="span10 center"></div>
            <div ng-include="'views/side.html'" class="span1 side right"></div>
        </div>
    </div>
    <div id="push"></div>
</div>

<footer id="footer">
    <div class="container-fluid">
        <div ng-include="'views/footer.html'" class="row-fluid"></div>
    </div>
</footer>
-->

<div id="layout" ng-controller="NavigationCtrl">
    <header id="header">
        <div class="container-fluid">
            <div ng-include="'views/header.html'" class="row-fluid"></div>
        </div>
    </header>
    <aside ng-click="prev()" class="side left" ng-class="{ disabled: isStart() }"></aside>
    <aside ng-click="next()" class="other side right" ng-class="{ disabled: isEnd() }"></aside>
    <div id="content" ng-class="data.going">
        <div ng-view class="main"></div>
    </div>
    <div id="fix"></div>
</div>
<footer id="footer">
    <div class="container-fluid">
        <div ng-include="'views/footer.html'" class="row-fluid"></div>
    </div>
</footer>



<!--
<dl ng-repeat="widget in data.widgetsList.data">
    <dt>id                   </dt><dd>{{ widget.id                    }}</dd>
    <dt>productName          </dt><dd>{{ widget.productName           }}</dd>
    <dt>providerURL          </dt><dd>{{ widget.providerURL           }}</dd>
    <dt>productVersion       </dt><dd>{{ widget.productVersion        }}</dd>
    <dt>title                </dt><dd>{{ widget.title                 }}</dd>
    <dt>youtubeVideoUrl      </dt><dd>{{ widget.youtubeVideoUrl       }}</dd>
    <dt>recipeURL            </dt><dd>{{ widget.recipeURL             }}</dd>
    <dt>allowAnonymous       </dt><dd>{{ widget.allowAnonymous        }}</dd>
    <dt>apiKey               </dt><dd>{{ widget.apiKey                }}</dd>
    <dt>enabled              </dt><dd>{{ widget.enabled               }}</dd>
    <dt>recipeName           </dt><dd>{{ widget.recipeName            }}</dd>
    <dt>requireLogin         </dt><dd>{{ widget.requireLogin          }}</dd>
    <dt>loginVerificationUrl </dt><dd>{{ widget.loginVerificationUrl  }}</dd>
    <dt>webServiceKey        </dt><dd>{{ widget.webServiceKey         }}</dd>
    <dt>lifeExpectancy       </dt><dd>{{ widget.lifeExpectancy        }}</dd>
    <dt>description          </dt><dd>{{ widget.description           }}</dd>
    <dt>consoleUrlService    </dt><dd>{{ widget.consoleUrlService     }}</dd>
    <dt>username             </dt><dd>{{ widget.username              }}</dd>
    <dt>numOfInstances       </dt><dd>{{ widget.numOfInstances        }}</dd>
    <dt>requiresLogin        </dt><dd>{{ widget.requiresLogin         }}</dd>
    <dt>consolename          </dt><dd>{{ widget.consolename           }}</dd>
    <dt>consoleurl           </dt><dd>{{ widget.consoleurl            }}</dd>
    <dt>rootpath             </dt><dd>{{ widget.rootpath              }}</dd>
    <hr />
</dl>
-->
