<div id="layout" ng-controller="NavigationCtrl">
    <header id="header">
        <div class="container">
            <div ng-include="'views/header.html'" class="row"></div>
        </div>
    </header>
    <aside ng-click="prev()" class="side left" ng-class="{ disabled: isStart() }"></aside>
    <aside ng-click="next()" class="other side right" ng-class="{ disabled: isEnd() }"></aside>
    <div id="content" ng-class="model.going">
        <div ng-include="'views/breadcrumb.html'" ng-hide="true"></div>
        <div ng-view class="main"></div>
    </div>
    <div id="fix"></div>
</div>
<footer id="footer">
    <div class="container">
        <div ng-include="'views/footer.html'" class="row"></div>
    </div>
</footer>
