<style>
    dl {
        float: left;
        margin: 0 3em 0 0;
    }
    dt, dd {
        float: left;
        margin-left: 1em;
        font-size: 75%;
    }
    dt, hr {
        clear: left;
    }
    hr {
        margin: 1em 0;
    }
</style>

<section ng-controller="RecipesPhaseCtrl">
    <h1>/widgetsList</h1>
    <dl ng-repeat="widget in model.widgetsList">
        <hr />
        <dt>id                   </dt><dd>{{ widget.id                    }}</dd>
        <dt>productName          </dt><dd>{{ widget.productName           }}</dd>
        <dt>providerURL          </dt><dd>{{ widget.providerURL           }}</dd>
        <dt>productVersion       </dt><dd>{{ widget.productVersion        }}</dd>
        <dt>title                </dt><dd>{{ widget.title                 }}</dd>
        <dt>youtubeVideoUrl      </dt><dd>{{ widget.youtubeVideoUrl       }}</dd>
        <dt>recipeURL            </dt><dd>{{ widget.recipeURL             }}</dd>
        <dt>allowAnonymous       </dt><dd>{{ widget.allowAnonymous        }}</dd>
        <dt>apiKey               </dt><dd>{{ widget.apiKey                }}</dd>
        <dt>enabled              </dt><dd>{{ widget.enabled               }}</dd>
        <dt>recipeName           </dt><dd>{{ widget.recipeName            }}</dd>
        <dt>requireLogin         </dt><dd>{{ widget.requireLogin          }}</dd>
        <dt>loginVerificationUrl </dt><dd>{{ widget.loginVerificationUrl  }}</dd>
        <dt>webServiceKey        </dt><dd>{{ widget.webServiceKey         }}</dd>
        <dt>lifeExpectancy       </dt><dd>{{ widget.lifeExpectancy        }}</dd>
        <dt>description          </dt><dd>{{ widget.description           }}</dd>
        <dt>consoleUrlService    </dt><dd>{{ widget.consoleUrlService     }}</dd>
        <dt>username             </dt><dd>{{ widget.username              }}</dd>
        <dt>numOfInstances       </dt><dd>{{ widget.numOfInstances        }}</dd>
        <dt>requiresLogin        </dt><dd>{{ widget.requiresLogin         }}</dd>
        <dt>consolename          </dt><dd>{{ widget.consolename           }}</dd>
        <dt>consoleurl           </dt><dd>{{ widget.consoleurl            }}</dd>
        <dt>rootpath             </dt><dd>{{ widget.rootpath              }}</dd>
    </dl>
</section>
