<section class="recipes">
    <h1>Pick a recipe</h1>
    <ul class="recipe-list">
        <li ng-repeat="widget in data.widgetsList">
            <label>
                {{ widget.productName }}
                <input type="radio" name="recipe-icons-group" ng-class="widgetClassname( widget.productName )" />
                <div class="video-link">
                    <a ng-if="widget.youtubeVideoUrl" href="{{widget.youtubeVideoUrl}}" target="_blank">see how-to</a>
                </div>
            </label>
        </li>
    </ul>
</section>
