<section class="recipes">
    <h1>Pick a recipe</h1>
    <ul class="recipe-list">
        <!-- TODO implement with checkboxes with altering images (grayscale/color) -->
        <li ng-repeat="widget in data.widgetsList">
            <label>
                {{ widget.productName }}
                <input type="radio" name="recipe-icons-group" ng-class="widgetClassname( widget.productName )" />
            </label>
            <div class="video-link">
                <a ng-if="widget.youtubeVideoUrl" href="{{widget.youtubeVideoUrl}}" target="_blank">see how-to</a>
            </div>
        </li>
    </ul>
</section>
